.file {
  padding: 0;
  margin: 0;
  /* @todo Do we need the clear? Can't remember what this was for */
  clear: both;
  /* The display/width gives the .side child % widths something to be relative to */
  display: table;
  width: 100%; }
  .file .side {
    vertical-align: top;
    display: table-cell;
    width: 50%;
    /* This sets up an inner 'table' container for nested cells. Not sure it is necessary -
    	would we get an anonymous table in the DOM if it is missed out? */
    /* By default, we'll not render a section rule-off at the bottom, even if there is more */
    /* Invisible side borders tend to eat into the visible bottom border, and we're really only
    	concerned with maintaining a consistent height with the line numbers anyway */
    /* By default, we'll not render a section rule-off at the bottom, even if there is more */
    /* Sections use bottom borders not top ones (@todo this probably needs fixing) */ }
    .file .side.left {
      border-right: 1px solid silver; }
    .file .side .inner-side {
      display: table;
      /* The full width is necessary for when line numbers are turned off */
      width: 100%; }
    .file .side .line-numbers-section {
      border-top: 1px solid rgba(0, 0, 0, 0);
      border-bottom: 4px solid silver; }
    .file .side .line-numbers-section:last-child {
      border-bottom: none; }
    .file .side .line-numbers-section.top-missing {
      border-top: 4px solid silver; }
    .file .side .line-numbers {
      display: table-cell;
      vertical-align: top;
      text-align: right;
      color: silver;
      border-right: 1px dotted silver;
      margin-right: 2px; }
      .file .side .line-numbers .line-number-line {
        padding: 0 4px 0 2px; }
      .file .side .line-numbers .line-number-empty {
        border-top-color: transparent; }
    .file .side .line {
      border-top: 1px solid #eeeeee; }
    .file .side .line code {
      height: 15px;
      display: block;
      white-space: pre; }
    .file .side .diff-content {
      display: table-cell;
      /* Useful for narrow sides that would normally take up less than 50% width */
      width: 100%; }
      .file .side .diff-content .diff-line {
        padding-left: 2px;
        width: 100%;
        box-sizing: border-box; }
      .file .side .diff-content .diff-line-deleted {
        background-color: #ffe0e0; }
      .file .side .diff-content .diff-line-added {
        background-color: #e0ffe0; }
      .file .side .diff-content .diff-line-empty {
        border-top-color: transparent; }
      .file .side .diff-content div.diff-line + div.diff-line-empty {
        border-top-color: #eeeeee; }
    .file .side .section {
      border-bottom: 4px solid silver; }
    .file .side .section:last-child {
      border-bottom: none; }
    .file .side .section.top-missing {
      border-top: 4px solid silver; }
    .file .side .section,
    .file .side .line-numbers-section {
      border-top: none;
      /* For both code and line numbers, we don't want a top border on the first child,
      	since that will replicate the thick section border */ }
      .file .side .section div:first-child,
      .file .side .line-numbers-section div:first-child {
        border-top: none; }
  .file code {
    margin: 0; }
