.file {
  padding: 0;
  margin: 0;
  /* @todo Do we need the clear? Can't remember what this was for */
  clear: both;
  /* The display/width gives the .side child % widths something to be relative to */
  display: table;
  width: 100%; }
  .file .side {
    display: table-cell;
    vertical-align: top;
    /* By default, we'll not render a section rule-off at the bottom, even if there is more */
    /* Invisible side borders tend to eat into the visible bottom border, and we're really only
    	concerned with maintaining a consistent height with the line numbers anyway */
    /* By default, we'll not render a section rule-off at the bottom, even if there is more */ }
    .file .side .left {
      border-right: 1px solid silver; }
    .file .side .line-numbers-section {
      border-top: 1px solid rgba(0, 0, 0, 0);
      border-bottom: 4px solid silver; }
    .file .side .line-numbers-section:last-child {
      border-bottom: none; }
    .file .side .line-numbers-section.top-missing {
      border-top: 4px solid silver; }
    .file .side .line-numbers {
      float: left;
      text-align: right;
      color: silver; }
      .file .side .line-numbers .line-number-line {
        padding: 0 4px 0 2px; }
      .file .side .line-numbers .line-number-empty {
        border-bottom-color: transparent; }
      .file .side .line-numbers div.line-number-empty + div.line-number-line {
        border-top: 1px solid #eeeeee; }
    .file .side .line {
      border-bottom: 1px solid #eeeeee; }
    .file .side .line pre {
      height: 1.2em; }
    .file .side .diff-content {
      /* Useful for narrow sides that would normally take up less than 50% width */
      width: 100%; }
      .file .side .diff-content .diff-line {
        padding-left: 2px; }
      .file .side .diff-content .diff-line-deleted {
        background-color: #ffe0e0; }
      .file .side .diff-content .diff-line-added {
        background-color: #e0ffe0; }
      .file .side .diff-content .diff-line-empty {
        border-bottom-color: transparent; }
      .file .side .diff-content div.diff-line-empty + div.diff-line {
        border-top: 1px solid #eeeeee; }
    .file .side .section {
      border-top: 1px solid rgba(0, 0, 0, 0);
      border-bottom: 4px solid silver; }
    .file .side .section:last-child {
      border-bottom: none; }
    .file .side .section.top-missing {
      border-top: 4px solid silver; }
  .file pre {
    margin: 0; }
