/* This would be rendered by the plugin */
.file {
	padding: 0;
	margin: 0;
	/* @todo Do we need the clear? Can't remember what this was for */
	clear: both;
	/* The display/width gives the .side child % widths something to be relative to */
	display: table;
	width: 100%;

	.side {
		display: table-cell;
		vertical-align: top;

		.left {
			border-right: 1px solid silver;
		}
		.right {
		}

		.line-numbers-section {
			border-top: 1px solid rgba(0, 0, 0, 0);
			border-bottom: 4px solid silver;
		}
		/* By default, we'll not render a section rule-off at the bottom, even if there is more */
		.line-numbers-section:last-child {
			border-bottom: none;
		}
		.line-numbers-section.top-missing {
			border-top: 4px solid silver;				
		}

		.line-numbers {
			float: left;
			text-align: right;
			color: silver;
		}
		.line-number-line {
			padding: 0 4px 0 2px;
		}

		.line {
			border-bottom: 1px solid #eeeeee;
		}
		.line pre {
			height: 1.2em;
		}

		.diff-content {
			/* Useful for narrow sides that would normally take up less than 50% width */
			width: 100%;

			.diff-line {
				padding-left: 2px;
			}
		}

		.diff-line-deleted {
			background-color: #ffe0e0;
		}
		.diff-line-added {
			background-color: #e0ffe0;
		}
	}

	pre {
		margin: 0;
	}
}

/* Invisible side borders tend to eat into the visible bottom border, and we're really only
	concerned with maintaining a consistent height with the line numbers anyway */
.section {
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid silver;
}
/* By default, we'll not render a section rule-off at the bottom, even if there is more */
.section:last-child {
	border-bottom: none;
}
.section.top-missing {
	border-top: 4px solid silver;				
}
